$colorWhite       :   #FFF;
$colorGreen       :   #A8D924;
$colorGreenHover  :   #8ABA08;
$colorBlue        :   #008FD7;
$colorBlueHover   :   #0078DF;
$colorDark        :   #1A1C2C;
$colorFooter      :   #303654;
